body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(86, 90, 206);
}

h1 {
  color: rgb(88, 152, 92);
  font-size: 75px;
}

button {
  background-color: rgb(88, 152, 92);
  color: rgb(51, 41, 41);
  font-size: 200px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button:hover {
  background-color: rgb(177, 44, 186);
}

h2 {
  color: rgb(65, 19, 68);
  font-size: 35px;
}